<h1>Scribble</h1>
<h2>Edit Post</h2>

<%= render "form" %>

<%= link_to 'Delete!', post_path(@post), method: :delete, class: 'delete' %>

<!-- <%= form_for @post, method: :delete do |f| %> -->
  <!-- <%= f.submit "Delete!", class: "delete" %> -->
<!-- <% end %> -->
