<h1>Scribble</h1>
<h2>Posts <a href="/posts/new">(new)</a></h2>

<ul>
  <% @posts.each do |post| %>
    <li>
      <a href="/posts/<%= post.id %>">
        <%= post.title %>
      </a>
    </li>
  <% end %>
</ul>
