<h2>Posts <a href="/posts/new">(new)</a></h2>
<!-- <%= link_to "(new)", new_post_path %> -->
<ul>
  <% @posts.each do |post| %>
    <li>
      <a href="/posts/<%= post.id %>">
        <%= post.title %>
      </a>
      <!-- <%#= link_to post.title, post %> -->
    </li>
  <% end %>
</ul>
